*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.text-white1{
    color: white;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#div_main1{

}

#header1{
    background-color: black;
    width: 100%;
    height: 46.5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#navigation1{
    display: inline-block;
}

#navigation1 li{
    position: relative; /*cho phần chữ menu đúng vào vị trí header*/
}
/* Chỉ ảnh hưởng lớp con trực tiếp */
#navigation1 > li > a{
    color: white;
    text-transform: uppercase; /*Viết in hoa đối với li cấp 1*/
    line-height: 46.5px; /*đây là thuộc tính giúp cho màu bao quanh chữ khi bôi đen chuột to ra, chữ sẽ mặc định căn giữa cái màu đó, chứ không giúp thẻ a có kích thước, mặc định thẻ a khôg có kích thước*/

}

#navigation1 > li{
    display: inline-block;
}

/* Ảnh hưởng cả lớp con và lớp cháu */
#navigation1 li a{   /*Chỉnh toàn bộ mọi thứ của danh sách và thẻ a*/
    text-decoration: none;  /*gạch chân, gạch đứt... cho văn bản*/
    text-align: center;
    padding: 0 24px;
}

#navigation1 > li:hover > a{
    color: black;
    background-color: #ccc;
}

#navigation1 li:hover a{  /*chỉnh cái hiệu ứng di chuột vào chữ nào là đổi màu chữ và có nền xám*/
    display: inline-block;  /*làm cái nền xám nó cao bằng chiều ngang của header*/ /*/*Ban đầu, thẻ a không có kích thước cụ thể. Khi thêm display: inline-block, chiều cao của phần tử a sẽ phù hợp với chiều cao của dòng mà nó nằm trong. Do đó, chiều cao của a sẽ bằng với line-height, tức là 46.5px, làm cho nó phù hợp với chiều cao của #header1.*/
}

#navigation1, .sub1 {
    list-style-type: none; /*bỏ thứ tự liệt kê ở trước các phần tử có trong danh sách (một, hai, ba chấm... hay số 1, 2, 3...)*/
}
#navigation1 .sub1{
    min-width: 160px; 
    display: none; /*ẩn đi phần lựa chọn trong more*/
    position: absolute; /*sub là con của phần navigation, làm cho merchandise,extras, media nó chỉnh theo cha của nó là more*/
    top: 100%; /*cho thêm 2 tham số này của position vào để chắc chắn khoảng cách luôn đúng đối với thẻ cha*/
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /*đổ bóng cho phần xung quanh khối của phần dưới more*/
}
#navigation1 .sub1 li:hover{
    color: black;
    background-color: #ccc;
}

/* Di vào li để hiện ul dưới  */
#navigation1 li:hover .sub1{
    display: block;
}

#navigation1 .sub1 a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#header1 .search-button{
    float:right;
    padding: 0 12px 0 12px; 
}
#header1  .search-button:hover{
    background-color: red;
    cursor: pointer;
}
#header1 .ti-search{
    color: white;
    line-height: 46px;
}
#slider{
    margin-top: 46px;
    position: relative;
    background: url(../../assets/img/slider1.jpg) top center/ cover no-repeat;
    padding-top: 50%;
}
#slider .text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    text-align: center;
    left: 0;
    right: 0;
}
#slider .text-heading{
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 25px;
}
#slider .text-description{
    font-size: 15px;
}



#content{

}

#content .content-section1{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .content-heading1{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}
#content .content-sub-heading1{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
    font-size: 15px;
}
#content .about-text1{
    text-align: justify;
    line-height: 1.4;
    margin-top: 25px;
}

#content .members-list1{
    margin-top: 48px;
}

#content .member-item1{
    float: left;
    width: 33.333%;
    text-align: center;
}

#content .member-name1{
    margin-bottom: 10px;
    font-size: 15px;
}
#content .member-avatar1{
    width: 154px;
    border-radius: 4px;
}

.tour-section1{
    background-color: black;
}

.tickets-list1{
    margin-top: 40px;
    background-color: white;
}

.tickets-list1 li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list1 .sold-out1{
    margin-left: 5px;
    background-color: red;
    color: white;
    padding: 3px 4px;
}

.tickets-list1 .quantity1{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    color: white;
    line-height: 24px;
    margin-top: -2px;
}